APP_NAME=cr-scoring
LOCALE=en
TIME_ZONE=UTC
PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=
DB_PASSWORD=
SECRET=

CR_MASTER_TYPE=mssql
CR_MASTER_HOST=localhost
CR_MASTER_PORT=1433
CR_MASTER_USERNAME=sa
CR_MASTER_PASSWORD=
CR_MASTER_DATABASE=master

INFOCALL_TYPE=mysql
INFOCALL_HOST=localhost
INFOCALL_PORT=3306
INFOCALL_USERNAME=database
INFOCALL_PASSWORD=root
INFOCALL_DATABASE=

SCORING_TYPE=mongodb
SCORING_HOST=mongodb://localhost:27017

REDIS_HOST=localhost
REDIS_PORT=6379

REDIS_VOLUME="./databases/redis"
MONGO_VOLUME="./databases/mongo"
SCORING_CONFIG_FILE=".env"
MONGO_USERNAME=root
MONGO_PASSWORD=
MONGO_DATABASE=database
